$primary_color:#9356DC;
$secondary_color:#FF79DA;
$tertiary_color:#99E2D0;
$button:linear-gradient(to bottom right, $secondary_color, $primary_color);
$background_general:#f2f2f2;
$dishcounter:7;
$dishdelay:200ms;
@font-face {
    font-family: "roboto";
    src: //url("font/Roboto/Roboto-Black.ttf") format('truetype'),
//    url("font/Roboto/Roboto-BlackItalic.ttf") format('truetype'),
//    url("font/Roboto/Roboto-Bold.ttf") format('truetype'),
//    url("font/Roboto/Roboto-BoldItalic.ttf") format('truetype'),
//    url("font/Roboto/Roboto-Italic.ttf") format('truetype'),
//    url("font/Roboto/Roboto-Light.ttf") format('truetype'),
//    url("font/Roboto/Roboto-LightItalic.ttf") format('truetype'),
//    url("font/Roboto/Roboto-Medium.ttf") format('truetype'),
//    url("font/Roboto/Roboto-MediumItalic.ttf") format('truetype'),
    url("font/Roboto/Roboto-Regular.ttf") format('truetype'),
    url("font/Roboto/Roboto-Thin.ttf") format('truetype'),
//    url("font/Roboto/Roboto-ThinItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Shrikhand";
    src: url("font/Shrikhand/Shrikhand-Regular.ttf") format('truetype');   
}
body{
    font-family: "roboto";
    font-weight: normal !important;
}
.head{
    margin: 10px 20px 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 20px;
    img{
        width: 65%;
        max-width: 500px;
        margin-left: 30px;
    }
    i{
        width: 20%;
        font-size: 25px;
        margin: 10px 0 0 30px;
        color: black;
        @media screen and (min-width: 1000px) {
            font-size: 100px;
        }    
    }
}
.top_img{

    img{
    width: 100%;
    max-height: 800px;
    }
}
.body_menu{
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    background-color: $background_general;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    @media screen and (min-width: 1000px) {
        flex-direction: row;
        max-width: 100%;
    }
    h1{
        font-family: "Shrikhand";
    }
}
.name{
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 769px) {
        width: 100%;
        align-self: center;
        text-align: center;; 
    } 
}
.heart{
    font-size: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
    &__nolike{
        color: $primary_color;
        opacity: 1;
        &:hover{
            opacity: 0;
            cursor: pointer;
        }
    }
    &__like{
        color: $primary_color;
        opacity: 0;
        &:hover{
            transition: 300ms;
            opacity: 1;
            cursor: pointer;
        }
    }
}
.ligne{
    width: 50px;
    margin-top: -5px;
    padding-bottom: 10px;
    border-top: 3px solid $tertiary_color;
}
@keyframes loading_cards{
    from{
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.plat{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1000px){
        width: 30%;
        margin: 30px 10px 10px 10px;
    }
    &__title{
        margin-bottom: 10px;
        width: 100%;
    }
    &__card{
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 20px;
        margin: 5px 0px 10px 0px;
        box-shadow: 3px 3px 5px silver;
        animation: loading_cards 1500ms;
        animation-fill-mode: both;
        cursor: pointer;
        @for $i from 3 to $dishcounter+2{
            &:nth-child(#{$i}){
                animation-delay: $dishdelay * $i;
                    }
        }
        &__body{
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            margin: 0px 20px 0px 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &__title{
                margin: 10px 0px 0px 0px;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
        }          
            &__subtitle{
                font-size: 15px;
                font-weight: normal !important;
                width: 100%;
                margin-top: 5px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                overflow: hidden;
                text-overflow: ellipsis;
                &__text{
                    font-size: 15px;
                    flex:8;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: normal;
                    opacity: 0.6;
                }
                &__price{
                    flex: 1;
                    width: 1px;
                    font-weight: bold;
                }
            }
        }
        &__check{
            width: 0px;
            background-color: $tertiary_color;
            visibility: hidden;
            color: white;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            text-align: center;
            padding: 20px 0px 20px 0px;
        }
        &__body:hover + &__check{
            width: 80px;
            font-size: 20px;
            cursor: pointer;
            visibility: visible;
            transition: width 500ms;
            i{transform: rotate(360deg);
            transition: transform 500ms;
            }
        }
    }
}
.cta_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$background_general;
    padding: 40px 0px 70px 0px;

    button{
        border:none;
        width: 200px;
        height: 50px;
        border-radius: 30px;
        background:$button;
        color: white;
        box-shadow:silver 3px 3px 3px;
        &:hover{
            cursor: pointer;
        }
    }
}
.footer{
    background-color: black;
    color: #fff;
    padding: 10px 0px 10px 20px;
    font-size: 20px;
    @media screen and (min-width: 769px) {
        display: flex;
        flex-direction: column;
        align-items: center;;    
    }
    &__title{
        font-style: italic;
        font-weight: 500;
        padding-bottom: 20px;
        font-family: "Shrikhand";
    }
    &__body{
        display: flex;
        flex-direction: column;
        i{
            margin-right: 10px;
            width: 25px;
        }
        a{
            text-decoration: none;
            font-size: 20px;
            color: #fff;
        }
    }
    &__restau, &__partner{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: -20px;
    }
    &__other{
        margin-bottom: 20px;
    }
}