$primary_color:#9356DC;
$secondary_color:#FF79DA;
$tertiary_color:#99E2D0;
$button:linear-gradient(to bottom right, $secondary_color, $primary_color);
$button_active:linear-gradient(to bottom right, lighten($secondary_color, 5%), lighten($primary_color, 5%));
$background_general:#f2f2f2;

@font-face {
    font-family: "roboto";
    src: //url("font/Roboto/Roboto-Black.ttf") format('truetype'),
//    url("font/Roboto/Roboto-BlackItalic.ttf") format('truetype'),
//    url("font/Roboto/Roboto-Bold.ttf") format('truetype'),
//    url("font/Roboto/Roboto-BoldItalic.ttf") format('truetype'),
//    url("font/Roboto/Roboto-Italic.ttf") format('truetype'),
//    url("font/Roboto/Roboto-Light.ttf") format('truetype'),
//    url("font/Roboto/Roboto-LightItalic.ttf") format('truetype'),
//    url("font/Roboto/Roboto-Medium.ttf") format('truetype'),
//    url("font/Roboto/Roboto-MediumItalic.ttf") format('truetype'),
    url("font/Roboto/Roboto-Regular.ttf") format('truetype'),
    url("font/Roboto/Roboto-Thin.ttf") format('truetype'),
//    url("font/Roboto/Roboto-ThinItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Shrikhand";
    src: url("font/Shrikhand/Shrikhand-Regular.ttf") format('truetype');
    
}
h1{
    font-weight: 900 ;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    text-decoration: none;
    z-index: 2;
    font-family: "roboto";
    font-weight: initial;
    img{
        max-width: 100%;
        height: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}
.logo{
    border-radius: 0px;
}
body a{
    text-decoration: none;
}
.head{
    margin:2% auto 1% auto;
    display: flex;
    justify-content: center;
    width: 90%;
   
}
.body{
    &__head{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
         h1, h2{
            margin: 5%;
            text-align: center;
            font-family: "roboto";
            @media screen and (min-width: 769px) {
                margin: 30px 0 0 0;
            }

        }
        h2{
            font-size: 20px;
            font-weight: 100;
            color: grey;
        }
        &__place{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            background-color: darken($background_general, $amount: 20);
            i{
                font-size: 20px;
                margin-right: 2%;
            }
        }
        &__cta{
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: $background_general;
            @media screen and (min-width: 769px) {
                width: 100%;
            }    
    
        }
    }
}
.cta_button{
    width: 60%;
    color: #fff;
    background: $button;
    border-radius: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 5% auto 15% auto;
    flex-direction: column;
    font-size: 18px;
    flex-wrap: nowrap;
    button{
        width: 100%;
        height: 50px;   
        border:none;
        border-radius: 30px;
        background:$button;
        color: white;
        box-shadow:silver 3px 3px 3px;
        &:hover{
            cursor: pointer;
            box-shadow: silver 7px 7px 7px;
            background: $button_active;
        }
    }
}
.fonctionnement h2{
    margin-left: 20px;
    @media screen and (min-width: 769px) {
        margin-left: 75px;
    }
}
.list{ 
    counter-reset: list_puce;
    margin-right: 20px;
    @media screen and (min-width: 769px) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    li{
        height: 70px;
        background-color: $background_general;
        border-radius: 20px;
        box-shadow: rgb(214, 214, 214) 5px 5px 15px;
        padding: 5px;
        margin: 20px 0px 20px -30px;
        list-style-type: none;
        counter-increment: list_puce;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        @media screen and (min-width: 769px) {
            width: 25%;
        }
        i{
            margin: 0px 20px 0px 20px;
        }
        &:before{
            padding: 2px 7px 2px 7px;
            color:white;
            content: counter(list_puce);
            background-color: $primary_color;
            border-radius: 50%;
        }
        &:hover{
            background: lighten($primary_color, 30);
            i{
                color: $primary_color;
            }
        }   
    }
}

.cards{
    background-color: $background_general;
    padding: 5% 5% 5% 5%;
    @media screen and (min-width: 769px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        h2{
            width: 100%;
        }
    }

}
.card_restaurant{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 40px 0px 40px 0px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 10px 10px 10px silver;
    position: relative;
    @media screen and (min-width: 769px) {
        width: 300px;
    }
    img{
        width: 100%;
        height: 75%;
    }
    &__new{
        font-size: 22px;
        color: darken($tertiary_color, 40%);
        height: 30px;
        background-color: $tertiary_color;
        position: absolute;
        right: 10px;
        z-index: 3;
        padding: 7px 15px 0px 15px;
        border-radius: 2px;
    }
    &__body{
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: row;
    }
    &__text{
        color: black;
        font-size: 20px;
        font-weight: 100;
        flex: 5;
        p{
            margin: 5px 0px 5px 10px;
        }
        &__name{
            font-weight: bold;
        }
    }
}
.heart{
    width: 2px;
    height: 2px;
    font-size: 35px;
    color: $primary_color;
    transition: opacity 300ms;
    z-index: 3;
    &__nolike{
        position: absolute;
        &:hover{
            opacity: 0;
        }
    }
    &__like{
        position: absolute;
        opacity: 0;
        &:hover{
            opacity: 1;
        }
    }
}
.lien{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    bottom: 25px;
    @media screen and (min-width: 769px) {
        bottom: 60px;
    }

}
.container{
    position: relative;
}
.footer{
    background-color: black;
    color: #fff;
    padding: 10px 0px 10px 20px;
    font-size: 20px;
    @media screen and (min-width: 769px) {
        display: flex;
        flex-direction: column;
        align-items: center;;    
    }
    &__title{
        font-style: italic;
        font-weight: 500;
        padding-bottom: 20px;
        font-family: "Shrikhand";
    }
    &__body{
        display: flex;
        flex-direction: column;
        i{
            margin-right: 10px;
            width: 25px;
        }
        a{
            text-decoration: none;
            font-size: 20px;
            color: #fff;
        }
    }
    &__restau, &__partner{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: -20px;
    }
    &__other{
        margin-bottom: 20px;
    }
}